body {
  margin: 0;
  padding: 0;
  background: #1b2c3b;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
}

.widget {
  margin: 0;
  padding: 0;
  background-image: url("../img/Paris.jpg");
  width: 696px;
  height: 435px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.date {
  margin: 44px 0px 0 361px;
  float: left;
  left: 362px;
  top: 74px;
  line-height: 1;
}

.day {
  font-size: 30px;
  margin-bottom: 0;
}

.date time {
  font-size: 14px;
  margin-left: 3px;
}

.weather-today {
  margin: 71px 0 0 471px;
}

.temp-today {
  margin: 0;
  padding: 0;
  font-size: 95px;
  font-weight: bold;
  line-height: 0.9;
}

.temp-today span {
  font-size: 45px;
  position: relative;
  left: 12px;
  bottom: 48px;
}

.city {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 0 2px;
}

.wind-speed {
  font-size: 13px;
  line-height: 1.6;
  margin: 12px 0 0 6px;
}

.wind-speed:before{
  background-image: url("../img/sprites.png");
  background-position: 0px -185px;
  width: 43px;
  height: 27px;
  content: '';
  display: inline-block;
}

.wind-speed > span {
  margin-left: 10px;
  font-size: 27px;
  padding-right: 5px;
}

.forecast {
  position: absolute;
  bottom: 0;
  width: 696px;
  height: 108px;
  background-color: rgba(0, 0, 0, 0.3);
}

.forecast ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;

}

.forecast li {
  float: left;
  font-size: 15px;
  text-align: center;
  padding: 0 31px;
  margin-top: 14px;
  height: 82px;
}

.border-left {
  border-left: 1px solid #ccc;
}

.forecast time{
  margin-bottom: 7px;
  font-weight: 300;
  margin-top: -6px;
  display: block;
}

.forecast p {
  margin: 0;
}

.forecast span {
  position: relative;
  left: 1px;
  bottom: 9px;
  font-size: 8px;
}

li.back {
  width: 43px;
}

.back:after{
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -225px;
  display: block;
  content: '';
  width: 11px;
  height: 19px;
  margin: 32px 0 0 28px;
}

.forecast time:after {
  width: 52px;
  height: 43px;
  display: block;
  margin: auto;
  content: '';
}

.rain time:after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 6px -78px;
}

.cloudy time:after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 5px 13px;
}

.sunny time:after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 5px -128px;
}

.overcast time:after {
  background: url("../img/sprites.png") no-repeat;
  background-position: 0 -27px;
}

.next:after{
  background: url("../img/sprites.png") no-repeat;
  background-position: -20px -225px;
  display: block;
  content: '';
  width: 12px;
  height: 19px;
  margin: 32px 0 0 -9px;
}


