body {
  margin: 0;
  padding: 0;
  background: #1b2c3b;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
}

article.widget {
  margin: 0;
  padding: 0;
  background-image: url("../img/Paris.jpg");
  width: 696px;
  height: 435px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  height: 327px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;

}

.date {
  position: absolute;
  left: 362px;
  top: 74px;
  line-height: 1;
}

.day {
  margin: 0;
  font-size: 30px;
}

.date time {
  font-size: 14px;
}

.weather-today {
  position: absolute;
  left: 471px;
  top: 71px;
}

.temp-today {
  margin: 0;
  padding: 0;
  font-size: 95px;
  font-weight: bold;
  line-height: 0.9;
}

.temp-today span {
  font-size: 45px;
  position: absolute;
  right: -11px;
  top: -6px;
}

.city {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 0 3px;
}

.wind {
  width: 43px;
  height: 27px;
  background-image: url("../img/Wind.png");
  background-position: center center;
  float: left;
  margin-top: 18px;
  margin-left: 5px;
}

p.wind-speed {
  font-size: 13px;
  line-height: 1.6;
}

.wind-speed > span {
  margin-left: 10px;
  font-size: 27px;
  padding-right: 5px;
}

nav.forecast {
  margin-top: -16px;
  width: 696px;
  height: 108px;
  background-color: rgba(0, 0, 0, 0.3);
}

.forecast ul {
  list-style: none;
  padding-left: 0;
}

.forecast li {
  float: left;
  font-size: 13px;
}

.forecast li.info {
  text-align: center;
  position: relative;
  padding: 0 30px;
}

.info {
  margin-top: 14px;
  height: 82px;
}

.info:nth-child(3) {
  border-left: 1px solid #ccc;
}

.info:nth-child(4) {
  border-left: 1px solid #ccc;
}

.info:nth-child(5) {
  border-left: 1px solid #ccc;
}

.forecast li h3 {
  margin-bottom: 8px;
  font-weight: 300;
  margin-top: -6px;
}

.forecast li p {
  margin-top: 0px;
  font-size: 14px;
}

.climacon {
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background-position: 4px 1px;
}

.forecast li.back .climacon {
  background: url("../img/Back.png") no-repeat;
  background-position: 27px 7px;
  margin-top: 25px;
}

.forecast li.rain .climacon {
  background: url("../img/Rain.png") no-repeat;
}

.forecast li.cloudy .climacon {
  background: url("../img/Cloudy.png") no-repeat;
}

.forecast li.sunny .climacon {
  background: url("../img/Sunny.png") no-repeat;
}

.forecast li.overcast .climacon {
  background: url("../img/Overcast.png") no-repeat;
}

.forecast li.next .climacon {
  background: url("../img/Next.png") no-repeat;
  background-position: -2px 7px;
  margin-top: 25px;
}

