body {
  margin: 0;
  padding: 0;
  background: #1b2c3b;
  color: #fff;
  font-family: "Lato", Arial, sans-serif;
}

.widget {
  margin: 0;
  padding: 0;
  background-image: url("../img/Paris.jpg");
  width: 696px;
  height: 435px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main {
  height: 327px;
  margin: 0;
  padding: 0;
  box-sizing: content-box;

}

.date {
  /*margin: 73px 0px 0 361px;*/
  margin: 44px 0px 0 361px;
  float: left;
  /*position: absolute;*/
  left: 362px;
  top: 74px;
  line-height: 1;
  /*display: inline-block;*/
}

.day {
  font-size: 30px;
  margin-bottom: 0;
}

.date time {
  font-size: 14px;
  margin-left: 3px;
}

.weather-today {
  /*display: inline-block;*/
  /*margin: 0px 0 0 480px;*/
  margin: 71px 0 0 471px;
  /*position: absolute;*/
  /*left: 471px;
  top: 71px;*/
}

.temp-today {
  margin: 0;
  padding: 0;
  font-size: 95px;
  font-weight: bold;
  line-height: 0.9;
}

.temp-today span {
  font-size: 45px;
  /*position: absolute;*/
  /*right: -11px;
  top: -6px;*/
  position: relative;
  left: 12px;
  bottom: 48px;
}

.city {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 0 2px;
}

.wind {
  width: 43px;
  height: 27px;
  background-image: url("../img/Wind.png");
  background-position: center center;
  float: left;
  margin-top: 18px;
  margin-left: 5px;
}

.wind-speed {
  font-size: 13px;
  line-height: 1.6;
  margin: 12px 0 0 49px;
}

.wind-speed > span {
  margin-left: 10px;
  font-size: 27px;
  padding-right: 5px;
}

.forecast {
  /*margin-top: -16px;*/
  position: absolute;
  bottom: 0;
  width: 696px;
  height: 108px;
  background-color: rgba(0, 0, 0, 0.3);
}

.forecast ul {
  list-style: none;
  padding-left: 0;
  margin-top: 0;

}

.forecast li {
  margin-top: 6px;
  float: left;
  font-size: 15px;
  /*width: 119px;*/
  /*border: 1px solid white;*/
  height: 108px;
}
.forecast li.info {
  text-align: center;
  /*position: relative;*/

  padding: 0 31px;
}

.back {
  /*width: 43px;*/
  width: 43px;
}

.next {

}

.forecast li.info {
  margin-top: 14px;
  height: 82px;
}
.info:nth-child(3) {
  border-left: 1px solid #ccc;
}
.info:nth-child(4) {
  border-left: 1px solid #ccc;
}
.info:nth-child(5) {
  border-left: 1px solid #ccc;
}
/*.forecast li h3 */
.forecast time{
  margin-bottom: 8px;
  font-weight: 300;
  margin-top: -6px;
}
.forecast p {
  margin-top: 0px;
  /*font-size: 14px;*/
}
/*.climacon {
  margin: 0 auto;
  width: 43px;
  height: 43px;
  background-position: 4px 1px;
}*/

.back {
  background: url("../img/Back.png") no-repeat;
  background-position: 27px 7px;
  margin-top: 25px;
}

.rain {
  background: url("../img/Rain.png") no-repeat;
}

.cloudy {
  background: url("../img/Cloudy.png") no-repeat;
}

.sunny {
  background: url("../img/Sunny.png") no-repeat;
}

.overcast {
  background: url("../img/Overcast.png") no-repeat;
}

.next {
  background: url("../img/Next.png") no-repeat;
  background-position: -2px 7px;
  margin-top: 25px;
}

